* {
  margin: 0;
  padding: 0;
}

/* Scrool bar */

::-webkit-scrollbar {
  background-color: #222222;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ffae00);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #3c793c);
}

/* Scrool bar */

/* Inicio cabeçalho*/

.conteudo_total {
  background-color: #3c793c;
}

.header {
  padding: 50px;
  height: 180px;
  background-color: #222222;
}

.header .container {
  margin-top: 50px;
  border-radius: 3px;
  height: 100px;
  background-color: #3c793c;
}

.header .container img {
  transition: background 0.4s;
  padding-left: 50px;
  height: 220px;
  width: 220px;
}

.header .container img:hover {
  background-color: #3c793c;
}

.header ul {
  float: right;
  list-style: none;
}

.header li {
  font-weight: 500;
  transition: background 0.3s;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  padding: 41px;
}

.header a {
  font-weight: bolder;
  border-radius: 5px;
  padding: 32px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header li:hover {
  background-color: #222222;
}

.current_page {
  background-color: #222222;
}

.current_page a {
  color: #ffae00;
}

.header a:hover {
  text-shadow: 0px 0px 4px #ffae00;
  color: #ffae00;
}

/* Fim cabeçalho*/

/* Pagina inicial */

.div_never_give_up {
  border-radius: 3px;
  margin: 10px 10px 10px 10px;
  width: 70%;
  padding: 180px;
  height: 300px;
  background-image: url("img/kakashi-raposa.jpg");
  background-size: cover;
}

.div_never_give_up .container {
  padding: 20px;
  color: white;
  border-radius: 5px;
  text-align: center;
  height: 300px;
  background-color: #222222b9;
}

.span_nome_naruto {
  font-size: 40px;
  color: #ffae00;
  font-weight: bold;
  margin-left: 700px;
}

.div_never_give_up .container h1 {
  margin-bottom: 40px;
  font-size: 55px;
  color: #ffffff;
}

.div_never_give_up .container span {
  font-size: 30px;
}

.div_naruto {
  border-radius: 3px;
  margin: 10px 10px 10px 135px;
  width: 90%;
  height: 500px;
  background-color: #222222;
}

.div_naruto .container {
  margin-top: 50px;
  float: left;
  width: 40%;
  background-image: url("img/naruto-sad.jpg");
  background-size: cover;
  height: 400px;
}

.container {
  margin-left: 20px;
}


.div_naruto .naruto_classico {
  padding: 15px;
  border-radius: 3px;
  text-align: justify ;
  margin-right: 50px;
  margin-top: 100px;
  width: 50%;
  float: right;
  height: 300px;
  background-color: #3c793c73;
}

.div_naruto .naruto_classico span {
  padding-top: 50px;
  font-size: 25px;
  color: white;
}

.div_naruto_hokage {
  border-radius: 3px;
  margin: 10px 10px 10px 10px;
  width: 75%;
  padding: 150px;
  height: 300px;
  background-image: url("img/naruto-hokage.jpg");
  background-size: 38%;
}

.div_naruto_hokage .container_hokage {
  border-radius: 3px;
  height: 300px;
  background-color: #222222d7;
}

.container_hokage {
  padding: 30px;
  padding-top: 60px;
  text-align: justify;
}

.div_naruto_hokage .container_hokage span {
  color: #ffae00;
  font-weight: bold;
  font-size: 35px;
}

/* Pagina inicial */

/* Footer */

.footer {
  text-align: center;
  height: 400px;
  background-color: #195a19d7;
}

.footer .container1 {
  float: left;
  margin-left: 25px;
}

.footer .container3 {
  border-radius: 5px;
  float: right;
  margin-right: 25px;
}

.footer .container1,
.container2_1,
.container3,
.container2 {
  color: white;
  border-radius: 5px;
  padding: 15px;
  margin-top: 80px;
  display: inline-block;
  height: 150px;
  width: 200px;
  background-color: #3c793c;
}

.footer .container2_1 a , .container2 a{
  text-decoration: none;
  color: white;
}

.footer .container1 img {
  width: 150px;
  height: 150px;
}

.footer .container2 ul li, .container2_1 ul li {
  font-family: "Courier New", Courier, monospace;
  transition: color 0.3s;
  font-size: 17.5px;
  cursor: pointer;
  margin-left: 15px;
  padding: 13px;
}

.footer .container2 ul li:hover, .container2_1 ul li:hover, .container2_1 ul li a:hover, .container2 ul li a:hover  {
  color: #222222;
}

.footer .container3 img {
  padding: 70px;
  transition: background 0.4s;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.footer .container3 img:hover {
  background-color: #195a19d7;
}

.container_footer {
  border-radius: 15px;
  border-top: solid 25px #195a19d7;
  margin-top: 50px;
  margin-left: 150px;
  width: 80%;
  height: 350px;
  background-color: #3c793c;
}

                                            /* Footer */
                                            
                                            /* Cadastro */
.formulario_cadastro, .formulario_login {
  border-radius: 2px;
  padding: 5%;
  background-color: #222222;
  width: 40%;
  margin: 5% auto;
  font-family: "exo2";
  color: white;
}

.formulario_login {
  font-size: 22px;
}

.formulario_login label,
.formulario_login input {
  font-size: 20px;
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 3%;
  padding: 0.5%;
}

.formulario_cadastro label,
.formulario_cadastro input {
  font-size: 20px;
  display: block;
  width: 90%;
  margin-left: 5%;
  margin-top: 4%;
  padding: 0.5%;
}

#btn_entrar {
  margin-top: 50px;
}

.botao_cadastrar, .botao_login {
  border-radius: 4px;
  background-color: rgb(219, 219, 219);
  width: 20%;
  margin-left: 40%;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  font-family: "exo2";
  padding: 10px;
  text-transform: uppercase;
  font-size: 15px;
  
}

.formulario_cadastro h1, .formulario_login h1 {
  transition: 0.3s;
  cursor: default;
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.formulario_cadastro h1:hover, .formulario_login h1:hover {
  color: #ffae00;
  text-shadow: 0px 0px 4px #ffae00;
}

.botao_login:hover, .botao_cadastrar:hover {
  background-color: #222222;
  color: #ffae00;
  text-shadow: 0px 0px 4px #ffae00;
  border: solid 1px #ffae00;
}

                                                /* PAGINA SOBRE */

.div_quem_somos {
  color: white;
  text-align: center;
  margin: 10px;
  padding: 50px;
  height: 500px;
  background-color: #222222;
}

.div_quem_somos h1 {
  color: #ffae00;
  font-family: "exo2";
  cursor: default;
  padding: 50px;
  font-size: 100px;
}

.div_quem_somos span {
  font-family: "exo2";
  cursor: default;
  font-size: 35px;
}

.div_quem_somos_2 {
  padding: 30px;
  color: white;
  height: 300px;
  background-color: #222222;
}

.div1_botao_mudar  {
  text-align: center;
  float: left;
  height: 290px;
  width: 50%;
  background-color: #222222;
}

.div2_botao_mudar {
  text-align: justify;
  float: right;
  height: 290px;
  width: 50%;
  background-color: #222222;
}

.div2_botao_mudar span {
  font-size: 23px;
  font-family: "exo2";
  margin-top: 100px;
}

.div2_botao_mudar h2 {
  margin-left: 90px;
  color: #ffae00;
  font-family: "exo2";
  font-size: 50px;
  padding: 30px;
}

.div1_botao_mudar button {
  border-radius: 4px;
  background-color: #3c793c;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  /*font-family: "exo2";*/
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  margin-top: 125px;
  text-transform: uppercase;
  width: 50%;
}

.div1_botao_mudar button:hover {
  border: solid 1px #ffae00;
  background-color: #222222;
  color: #ffae00;
  text-shadow: 0px 0px 4px #ffae00;
}

                                                  /* PAGINA FORUM */
.div_auto_conhecimento {
  overflow: auto;
  color: #ffae00;
  font-size: 30px;
  margin: 400px auto;
  height: 600px;
  width: 80%;
  background-color: #222222;
  border-radius: 10px;
}



.div_auto_conhecimento span, .div_pessoa_melhor span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
   'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 550px;
}

.div_auto_conhecimento p, .div_pessoa_melhor p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
   'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 480px;
}

.div_auto_conhecimento h1, .div_pessoa_melhor h1 {
  font-size: 40px;
  padding: 50px;
}

.div_pessoa_melhor {
  overflow: auto;
  color: #ffae00;
  font-size: 30px;
  margin: 50px auto;
  height: 600px;
  width: 80%;
  background-color: #222222;
  border-radius: 10px;
}

.div_auto_conhecimento input, .div_pessoa_melhor input {
  font-size: 20px;
  outline: none;
  border: none;
  transition: background 0.3s;
  display: block;
  height: 30px;
  width: 400px;
  margin: 5px auto;
  border-radius: 5px;
}

.div_auto_conhecimento input:hover, .div_pessoa_melhor input:hover {
  background-color: #3c793c;
}

.div_auto_conhecimento button, .div_pessoa_melhor button {
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  width: 300px;
  transition: background 0.3s;
  font-size: 25px;
  margin-left: 460px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.div_auto_conhecimento button:hover, .div_pessoa_melhor button:hover {
  background-color: #222222;
  color: #ffae00;
  border: solid 1px #ffae00;
}

.div_estado_emocional {
  padding-top: 100px;
  margin-top: 100px;
  height: 450px;
  background-color: #222222;
}

.container_estado_emocional {
  width: 80%;
  height: 200px;
  border-radius: 7px;
  margin: auto;
  display: inline-block;
  margin-left: 150px;
}

.div_estado_emocional h1 {
  margin-left: 400px;
  margin-bottom: 50px;
  color: #ffae00;
  font-size: 45px;
}

.box_happy, .box_normal, .box_sad {
  transition: background 0.3s;
  height: 200px;
  width: 33.33%;
  float: left;
  border-radius: 7px;
  text-align: center;
}

.box_happy {
  background-color: none;
}

.box_normal {
  background-color: none;
}

.box_sad {
  background-color: none;
}

.box_happy img , .box_normal img, .box_sad img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}

.box_happy:hover, .box_normal:hover, .box_sad:hover {
  background-color: #3c793c;
}

.container_estado_emocional:hover {
  background-color: #222222;
}

.btn_emocional {
  text-transform: uppercase;
  transition: background 0.3s;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin-left: 567px;
  margin-top: 50px;
}

.btn_emocional:hover{
  background-color: #222222;
  border: solid 1px #ffae00;
  color: white;
}

.btn_emocional:active {
  color: #ffae00;
}

.div_nome_personagens textarea {
  transition: background 0.3s;
  text-align: center;
  border-radius: 7px;
  border: none;
  background-color: #413e3e85 ;
  color: #ffae00;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 38%;
  margin-bottom: 50px;
}

.div_nome_personagens textarea:hover {
  background-color: #413c3c;
}

.div_nome_personagens textarea:focus {
  outline: none 0px;
  border: solid 0.1px #ffae00;
}

.div_nome_personagens button {
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.4s;
  cursor: pointer;
  margin-left: 24%;
  padding: 10px;
  border-radius: 7px;
}

.div_nome_personagens button:hover {
  background-color: #222222;
  color: #ffffff;
  border: solid 1px #ffae00;
}

.div_nome_personagens button:active {
  outline: none;
}

.div_nome_personagens h1 {
  color: #ffae00;
  font-size: 35px;
  margin-left: 20%;
  margin-top: 20px;
}

#div_mostrar_personagens {
  text-align: center;
  color: #ffae00;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 60px;
  float: left;
  width: 50%;
  height: 360px;
  font-size: 60px;
  background-color: #222222;
}

.div_englobando_personagens {
  background-color: #222222;
  height: 300px;
  margin-bottom: 50px;
}

.div_foto_personagens {
  background-color: #222222;
  text-align: center;
  margin-top: 60px;
  width: 50%;
  float: right;
  height: 360px;
}

                                                      /* DIV OPINIAO DO USUARIO */
.div_opiniao_usuario {
  padding: 100px;
  height: 500px;
  background-color: #222222;
}                                               

.div_opiniao_usuario_container {
  height: 100%;
  background-color:#222222;
}

.div_opiniao_usuario_container h1 {
  font-size: 40px;
  color: #ffffff;
}

.div_select_nota {
  padding: 25px;
  border-radius: 7px;
  font-size: 30px;
  margin-top: 10%;
  height: 50%;
  background-color: #3d3b3b;
}

.div_select_nota h3 {
  color: #ffffff;
  margin-left: 40%;
}

.div_select_nota select {
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s;
  padding: 1%;
  border-radius: 7px;
  border: none;
  background-color: #222222;
  margin-left: 47%;
  margin-top: 3%;
  font-size: 30px;
}

.div_select_nota select option {
  background-color: #195a19d7;
}

.div_select_nota select:hover {
  background-color: #195a19d7;
}

.div_select_nota button {
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  margin-left: 41.5%;
  border: none;
  border-radius: 7px;
  margin-top: 2%;
  width: 22%;
}

.div_select_nota button:hover {
  background-color: #195a19d7;
  color: white;
}


                                                      /* DIV OPINIAO DO USUARIO */
